* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

li {
  list-style: none;
}

/*===============================================||
||                    HEADER                     ||
||===============================================*/
nav {
    display: flex;
    background: rgb(255, 69, 69);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav .img-nav img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    height: 60px;
}
/*===============================================||
||                     CART                      ||
||             CSS for cart button               ||
||===============================================*/
#cart {
  font-size: 18px;
  height: 60px;
  color: #fff;
  background: #f00;
  border: 3px solid transparent;
  border-color: #000;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}
#cart:hover {
  border-color: #fff;
}
#cart:active {
  background-color: rgb(175, 0, 0);
  border-color: #fff;
}
@media (min-width: 800px) {
  nav {
    display: flex;
    background: rgb(255, 69, 69);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  nav .img-nav img {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 5vw;
    height: 7vw;
  }
    #cart {
        height: 80px
    }
}
/*===============================================||
||                 MINI - ZONE                   ||
||  CSS for mini-zone view when click item menu  ||
||===============================================*/
.mini-zone-content {
    margin: 0 auto;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.2vw solid rgba(0, 0, 0, .2);
    border-radius: 25px;
    outline: 0;
    margin-top: 10px;
}
.mini-zone-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #aaaaaa;
  padding: 5px 10px;
}
h5.modal-title {
  font-size: 20px;
}
.mini-zone-close {
  color: #aaaaaa;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.mini-zone-close:hover,
.mini-zone-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.mini-zone-body {
  padding: 20px;
}
.mini-zone-description {
  display: block;
  padding:  10px;
  height: 170px;
  border: solid black 1px;
  border-radius: 30px;
  font-size: 20px;
  margin: 10px 0;
}
.mini-zone-price {
  display: block;
  margin: 10px 0;
  font-size: 30px;
  color: red;
  font-weight: 500;
  text-align: right;
}
.mini-zone-money {
  margin: 0 20px;
}
.mini-zone-btn-cart {
    width: 80%;
    z-index: 20;
    background: #f00;
    color: #fff;
    font-weight: 500;
    height: 50px;
    margin: 5px 10%;
}
.mini-zone-btn-cart:hover {
    background: rgb(201, 0, 0);
}
.mini-zone-btn-cart:active {
    background: rgb(255, 85, 85);
}

@media (min-width: 800px) {
    .mini-zone-content {
        border-radius: 15px;
        width: 50%;
        margin-top: 100px;
    }
    h5.mini-zone-modal-title {
        font-size: 28px;
    }
    .mini-zone-close {
        font-size: 35px;
    }
    .mini-zone-header {
        padding: 10px 20px;
    }
    .mini-zone-price {
        display: block;
        margin: 10px 0;
        font-size: 35px;
        color: red;
        font-weight: 700;
        text-align: right;
    }
}
/*===============================================||
||                     MODAL                     ||
||  CSS for cart view when click to cart button  ||
||===============================================*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 0 auto;
  width: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.2vw solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  outline: 0;
}
.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #aaaaaa;
  padding: 5px 10px;
}
h5.modal-title {
  font-size: 20px;
}
.modal-body {
  padding: 10px;
}
.modal-footer {
  display: flex;
  border-top: 2px solid #aaaaaa;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-end;
}
.modal-footer>:not(:first-child) {
  margin-left: 3px;
}
@media (min-width: 800px) {
    .modal-content {
        border-radius: 15px;
        width: 1000px;
    }
    h5.modal-title {
        font-size: 28px;
    }
    .modal-header {
        padding: 10px 20px;
    }
    .modal-footer {
        padding: 10px;
    }   
}
/* button in modal */
.btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 10px;
  margin-right: 7px;
  font-size: 15px;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}
.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}
.btn-secondary:hover {
  background-color: rgb(216, 216, 216);
}
.btn-secondary:active {
  background-color: rgb(168, 168, 168);
}
.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.btn-primary:hover {
  background-color: #005fb3;
}
.btn-primary:active {
  background-color: #004888;
}
/* close button (button 'x' at corner of box) */
.close {
  color: #aaaaaa;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 800px) {
    .btn {
        padding: 8px 12px;
        margin-right: 10px;
        font-size: 18px;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }
    .close {
        font-size: 35px;
    }
}
/* css for 1 row in cart */
/* can see being used in main.js to make new row order*/
.cart-header {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 18px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
}
.cart-row {
  display: flex;
}
.cart-item {
    width: 60%;
    margin: 5px;
}
.cart-price {
    width: 10%;
    margin: 5px;
}
.cart-quantity {
    width: 30%;
    margin: 5px;
}
.cart-item-title {
  color: #333;
  margin-left: 8px;
  font-size: 15px;
}
.cart-item-image {
  width: 80px;
  height: auto;
  border-radius:10px;
}
/* button delete row */
.btn-danger {
  height: 40px;
  width: 50px;
  font-size: 12px;
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: auto;
}
.btn-danger:hover {
  background-color: #CC4C4C;
}
/* input field for num of this row */
.cart-quantity-input {
  height: 40px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
}
.cart-row:last-child {
  border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column {
  border: none;
}
/* css for total price */
.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}
.cart-total-title {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-right: 15px;
}
.cart-total-price {
  color: #333;
  font-size: 18px;
}
/*===============================================||
||                   CATEGORY                    ||
||             CSS for category menu             ||
||===============================================*/
.category-zone {
  display: inline-block;
  background-color: cornflowerblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.category-zone .category-item {
  margin: 15px 1.1%;
  display: block;
  float: left;
  width: 17.7%;
  border: solid black 3px;
  border-radius: 15px;
  padding: 0;
  background-color: #fff;
}
.category-zone .category-item:hover{
  border: solid rgb(255, 69, 69) 3px;
  background-color: rgb(209, 209, 209);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
}
.category-zone .category-item:active{
  border: solid rgb(255, 69, 69) 3px;
  background-color: rgb(179, 179, 179);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
}
.category-zone .category-item .category-img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
.category-zone .category-item .category-title {
  display: block;
  font-weight: 700;
  color: rgb(255, 69, 69);
  text-align: center;
  font-size: 13px;
  padding: auto 0;
  height: 50px;
}
@media (min-width: 700px) {
    .category-zone .category-item .category-title {
        font-size: 18px;
    }
}
@media (min-width: 800px) {
    .category-zone .category-item {
        margin: 15px 3%;
        width: 14%;
        border: solid black 4px;
        border-radius: 30px;
    }
    .category-zone .category-item:hover{
        border: solid rgb(255, 69, 69) 4px;
        background-color: rgb(209, 209, 209);
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
    }
    .category-zone .category-item:active{
        border: solid rgb(255, 69, 69) 4px;
        background-color: rgb(179, 179, 179);
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
    }
    .category-zone .category-item .category-img {
        border-radius: 30px;
    }
    .category-zone .category-item .category-title {
        font-size: 18px;
        padding-top: 7px;
        height: 40px;
    }
}
/*===============================================||
||                      MENU                     ||
||                CSS for food menu              ||
||===============================================*/
.wrapper {
    margin: 0px;
    padding: 0;
    display: inline-block;
    width: 100%;
    min-height: 250px;
}
.products {
    display: block;
}
.products .main-product {
    margin: 5px 1%;
    display: block;
    float: left;
    width: 48%;
}
.products .main-product:hover {
    width: 48%;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}
.products .img-product img {
    width: 100%;
}
.content-product .content-product-h3 {
    overflow: hidden;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    height: 30px;
    border-bottom: solid black 1px;
    margin: 0 10px;
}
.content-product .content-product-des {
    display: block;
    overflow: hidden;
    color: rgb(133, 131, 131);
    font-weight: 500;
    font-size: 14px;
    height: 30px;
    text-align: center;
    padding: 3px;
}
.content-product-deltals {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.main-product .content-product-deltals .price {
    color: #ff0000;
    width: 100px;
    font-weight: 700;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 20px;
    text-align: right;
}
.btn-cart {
    width: 100%;
    z-index: 20;
    background: #f00;
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
    height: 40px;
}
.btn-cart:hover {
    background: rgb(201, 0, 0);
}
.btn-cart:active {
    background: rgb(255, 85, 85);
}
@media (min-width: 800px) {
    .wrapper {
        min-height: 130px;
    }
    .products .main-product {
        margin: 10px 1%;
        display: block;
        float: left;
        width: 23%;
    }
    .products .main-product:hover {
        width: 23%;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
        text-decoration: none;
    }
}
/*===============================================||
||                    FOOTER                     ||
||===============================================*/
.footer-item {
  padding: 0;
  background: rgb(255, 69, 69);
  display: flex;
  height: 310px;
}
.img-footer {
    width: 100%;
    margin: 0px;
    padding: 5px 30%;
}
.footer-item .img-footer img {
    width: 100%;
}
.footer-item .contact_infor {
    width: 100%;
    font-weight: 350;
    display: block;
    margin-left: 10px;
    padding-top: 8px;
    font-size: 15px;
    color: white;
}
.footer-item .contact_infor .contact_row {
  margin: 0;
}
.footer-item .contact_infor .contact_title {
  font-size: 20px;
  color: rgb(10, 10, 10);
}
.footer-item .contact_infor .contact_font {
  color: rgb(10, 10, 10);
}
@media (min-width: 700px) {
  .wrapper {
        min-height: 500px;
    }
  .footer-item {
    height: 200px;
  }
}
@media (min-width: 800px) {
    .footer-item {
        height: 140px;
    }
    .img-footer {
        padding: 10px 10%;
    }
    .img-footer {
        margin: 10px 0px;
    }
    .footer-item .contact_infor {
        margin-left: 50px;
        padding-top: 8px;
        font-size: 16px;
    }
}
/* nav mobile */
.nav-mobile {
  display: none;
}
.nav-mobile .icon-mobile {
  padding: .5rem;
  font-size: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  outline: none;
}
.nav-mobile .item_menu {
  background: #f1df11;
  position: absolute;
  top: 100%;
  width: 100%;
  display: none;
  padding-bottom: 1rem;
}
.item_menu ul li a {
  color: #43433e;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
}
.item_menu ul li a:hover {
  color: #fff;
}
.item_menu form {
  margin: 0 1rem;
  position: relative;
}
.item_menu form input {
  width: 100%;
  border: none;
  background: #fff;
  padding: 7px;
  outline: none;
  border-radius: 12px;
}
.item_menu form button {
  padding: 5px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  outline: none;
  background: #fff;
}
/*===============================================||
||              BACK TO TOP BUTTON               ||
||===============================================*/
#myBtn {
  width: 60px;
  height: 60px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 100; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}
#bttbutton {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
#myBtn:hover {
  width: 60px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
@media (min-width: 800px) {
    #myBtn {
        bottom: 120px; /* Place the button at the bottom of the page */
    }
}



figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}